.navbar{
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
   font-size: 30px;
}

.navbar-brand {
   font-size: 35px;
   font-family: 'Comforter', cursive;
   font-weight: 700;
}

body {
   font-family: 'Nunito Sans', sans-serif;
}
.card {
   width: 18rem; /*16px * 18*/
}

.titulo {
   padding-top: 3rem;
   font-size: 60px;
   font-family: 'Comforter', cursive;
   font-weight: 700;
   text-align: center;
   padding-bottom: 3rem;
   background: #EFE7C2;
}
.imgCharacter {
   width: 350px;   
}
.green {
   background-color: rgb(22, 236, 22);
   color: black;
}

.red {
   background-color: rgb(243, 8, 8);
   color: white;
}

.yellow {
   background-color: #EFE7C2;
   color: black;
}
.genderCharacter {
   background-color: aqua;
}
.speciesCharacter {
   background-color: blanchedalmond;
}
.originCharacter {
   background-color: royalblue;
   color: white;
}
.locationCharacter {
   background-color: plum;
}
/* .statusCharacter {

} */